apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-hello
spec:
  replicas: 3
  selector:
    matchLabels:
      app: hello
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
      - name: hello
        image: nginxdemos/hello
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-hello-svc
spec:
  type: NodePort
  selector:
    app: hello
  ports:
    - port: 80        # porta dentro il cluster
      targetPort: 80  # porta del container
      nodePort: 30080 # porta esposta sui nodi (range 30000-32767)
