apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-autoscale
spec:
  replicas: 4
  selector:
    matchLabels:
      app: demo-autoscale
  template:
    metadata:
      labels:
        app: demo-autoscale
    spec:
      containers:
        - name: hpa-example
          image: registry.k8s.io/hpa-example
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: "500m"
              memory: "128Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: demo-autoscale-svc
spec:
  selector:
    app: demo-autoscale
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
  type: NodePort
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: demo-autoscale-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: demo-autoscale
  minReplicas: 4               
  maxReplicas: 10              
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50   

